.bg-color {
    background: #0f0f0ffb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
}

.navbar-brand {
    color: #f8aa02;
    font-weight: bold;
    font-size: 35px !important;
}

.nav-link {
    font-weight: bold;
    color: #f8aa02 !important;
    font-size: 20px;
    padding: 12px 18px;
    transition: color 0.3s ease, transform 0.2s;
}

.nav-link:hover {
    color: white !important;
    transform: scale(1.1);
}

.nav-link.active {
    color: white !important;
}

.navbar-toggler i {
    color: #f8aa02;
}

.navbar-toggler:hover i {
    color: #fff;
}

.collapse.navbar-collapse {
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin: 10px 0;
    }
}
.navbar-nav {
    text-align: right;
}